@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #f9f9f9 !important;
}

input:-webkit-autofill {
  background-color: transparent !important;
  box-shadow: 0 0 0px 1000px white inset !important;
}

.img-bg {
  background-image: url("../../public/img.svg");
  background-size: cover;
  background-position: top;
}

body {
  font-family: var(--font-archivo), sans-serif;
}

select::after {
  content: "fd";
  position: relative;
}

.scrollable::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

/* Track (Background of the Scrollbar) */
.scrollable::-webkit-scrollbar-track {
  background: #264AC3;
  border-radius: 1px;
}

/* Handle (Draggable part) */
.scrollable::-webkit-scrollbar-thumb {
  background: #264AC3;
  border-radius: 1px;
}

/* Handle on hover */
.scrollable::-webkit-scrollbar-thumb:hover {
  background: #264AC3;
}

.border-gradient {
  background: linear-gradient(180deg, #092CA2 0%, #003BFF 100%)
}

/* React select box library style */
body .searchbale-select__control {
  @apply w-full max-w-[320px] border-gray-70 rounded-lg min-h-[34px] max-h-[34px] ps-6
}

.searchbale-select__indicator-separator {
  @apply hidden
}
.searchbale-select__value-container{
  @apply pt-0
}
.searchbale-select__placeholder,.searchbale-select__value-container{
  @apply text-sm font-normal !mt-0
}
.searchbale-select__placeholder{
  @apply !text-gray-180
}
.searchbale-select__input-container {
  @apply !m-0 !p-0 text-dark-800
}
body .searchbale-select__control--is-focused{
  @apply !border-gray-70 !shadow-none
}
.filter-option1{
  @apply min-w-[122px]
}
.filter-option2{
  @apply min-w-[145px]
}
.filter-option3{
  @apply min-w-[130px]
}
.filter-option4{
  @apply min-w-[124px]
}
@media(max-width:500px){

  .inventory-btns li button{
    @apply !w-full
  }
}
